$white : #F9F9F9;
$whiteBlock : #ECF0F1;
$red : #C0392B;
$redBlock : rgb(136, 0, 0);
$blue : #2C3E50;


@font-face {
    font-family: "Clash Display";
    src: url("@/assets/fonts/ClashDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Clash Display";
    src: url("@/assets/fonts/ClashDisplay-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Clash Display";
    src: url("@/assets/fonts/ClashDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

* {
    font-family: "Clash Display";
}

body {
    margin: 0 auto;

    overflow-x: hidden;
    overflow-y: scroll;
    background: $white;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $whiteBlock;
}

::-webkit-scrollbar-thumb {
    background: $red;
}

::-webkit-scrollbar-thumb:hover {
    background: $redBlock;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* ----- HEADER ----- */

#backToTop {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: $white;
    line-height: 47px;
    width: 43px;
    height: 43px;
    border-radius: 40px;
    border: $red 2px solid;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;

    i {
        font-size: 20px;
        transition: .2s;
    }

    &:hover i {
        transform: translate(0, -4px);
    }
}


#navbar {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    height: 50px;
    z-index: 10;
    display: flex;
    color: $red;
    background-color: transparent;
    width: 85%;
    border-radius: 20px;
    align-items: center;
    letter-spacing: 1px;
    transition: background 0.2s ease, height 0.2s ease, color 0.2s ease;

    &.scrolled {
        background: $red;
        color: $white;
    }
}

.navbar__logo {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: $red;
    margin-left: 35px;
}

#navbar.scrolled {

    .navbar__logo,
    .navbar__liens li a,
    label i {
        color: $white !important;
    }

    .navbar__liens li a::after {
        background-color: $red;
    }
}

.navbar__liens {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    right: 35px;
    position: absolute;

    li {
        position: relative;
        text-transform: uppercase;
        color: $red;
        font-size: 14px;
        font-weight: bold;
        transition: color 0.25s ease;

        a {
            color: $red;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
                // text-underline-thickness: 2px;
            }
        }
    }
}

// @media screen and (min-width:990px) {
//     .navbar__liens li a::after {
//         content: "";
//         position: absolute;
//         width: 0;
//         height: 2px;
//         background-color: $blanc;
//         bottom: -5px;
//         left: 50%;
//         transform: translateX(-50%);
//         transition: width 0.3s ease;

//         &:hover::after {
//             width: 100%;
//         }
//     }
// }

label,
#toggle {
    display: none;
}

/* ----- PRESENTATION ----- */

#presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
    margin: 0 auto;
}

#apropos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 50px auto;
    background: $whiteBlock;
    border-radius: 20px;
    border: 2px $blue solid;
    max-width: 80%;
    padding: 50px 0;
    box-shadow: 0 5px 0 $blue;

    h3 {
        text-align: left;
        margin: 0;
        font-size: 28px;
        color: $red;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .apropos__contenu {
        display: flex;
        flex-direction: column;
        gap: 30px;

        p {
            margin: 0;
        }

        .apropos-contenu__skills {
            display: flex;
            justify-content: left;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;

            span {
                background-color: $red;
                color: $white;
                padding: 5px 15px;
                border-radius: 20px;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                box-shadow: 0 2px 0 $redBlock;

                &:hover {
                    background-color: $redBlock;
                    box-shadow: 0 2px 0 $redBlock;
                    cursor: default;
                }
            }
        }
    }

}

.school__h3 {
    text-align: left;
    margin: 0 0 20px 0;
    font-size: 28px;
    color: $red;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.school {
    width: 80%;
    margin: 40px auto 0 auto;
}

.school__h3 {
    margin: 0 0 20px 60px;
}

.school__carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.carousel-arrow {
    background: $blue;
    color: $white;
    border: none;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-arrow:disabled {
    background: $red;
    cursor: not-allowed;
}

.school__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: center;
}

.school-list__contenu {
    flex: 1 1 0;
    min-width: 220px;
    max-width: 320px;
    background: $whiteBlock;
    border-radius: 20px;
    padding: 18px 14px;
    box-shadow: 0 5px 0px $blue;
    border: 2px $blue solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.school-list__contenu h3 {
    margin: 0;
    color: $red;
}

.school-list__contenu h5 {
    margin: 5px 0;
    color: #666;
    font-size: 1em;
}

.school-list__contenu p {
    margin: 0 0 8px 0;
    font-size: 1em;
}

@media (max-width: 900px) {
    .school {
        width: 80%;
    }

    .school__carousel {
        gap: 0;
    }

    .school__list {
        flex-direction: row;
        gap: 0;
        width: 100%;
        justify-content: center;
    }

    .school__h3 {
        margin: 0 0 20px 0;
        text-align: center;
    }

    .school-list__contenu {
        min-width: 0;
        max-width: 100vw;
        margin: 0 8px;
    }
}

@media screen and (min-width:990px) {

    #presentation {
        height: 100vh;
    }
}

#presentation {
    flex-direction: column;

    .fa-arrow-down {
        animation: arrowAnimation 1s ease-in-out infinite;
    }
}

.presentation__nom-role {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;

    h1 {
        margin: 0;
        color: $red;
        font-size: 60px;
    }

    h6 {
        margin: 0;
        color: $blue;
        font-size: 16px;
        font-weight: 500;
    }
}


.hidden i {
    color: $red;
}

// @keyframes arrowAnimation {
//     0%, 100% {
//         transform: translateY(0);
//     }
//     50% {
//         transform: translateY(15px);
//     }
// }

.apropos__photo {
    background-image: url(../img/qbuteau-presentation.webp);
    background-size: 170%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px $blue solid;
    border-radius: 20px;
    height: 340px;
    width: 340px;
    transition: 0.25s;

    &:hover {
        background-size: 190%;
        cursor: crosshair;
    }
}

/* ----- SECTION ----- */


hr {
    max-width: 80vw;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    color: $red;
    text-transform: uppercase;
    line-height: 140%;
    letter-spacing: 1px;
    font-size: 35px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

h4 {
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

p {
    color: $blue;
    font-weight: 500;
    font-size: 1em;
    line-height: 150%;
    text-align: left;
}

.apropos__contenu {
    width: 50%;

    h2 {
        margin-top: 0;
    }
}


/* -------------------- COMPETENCES -------------------- */

#competences {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

.competences__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.competences__bloc {
    flex: 1 1 0;
    min-width: 200px;
    background: #ECF0F1;
    border-radius: 20px;
    padding: 24px 18px;
    border: 2px $blue solid;
    box-shadow: 0 5px 0px $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.competences__bloc h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0 20px 0;
    color: $red;
}

.competences__bloc ul {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.competences__bloc li {
    margin-bottom: 10px;
    text-align: center;
    color: $white;
    font-weight: 500;
    padding: 4px 10px;
    background-color: $red;
    border-radius: 20px;
    box-shadow: 0 2px 0 $redBlock;

    &:hover {
        background-color: $redBlock;
        box-shadow: 0 2px 0 $redBlock;
        cursor: default;
    }
}

/* -------------------- PROJETS -------------------- */

#realisations {
    margin: 0 auto;
    padding-top: 20vh;
}

.realisations__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
    height: 50vh;
    max-height: 400px;
    width: 80%;
    max-width: 1500px;
    border: 2px $blue solid;
    box-shadow: 0 5px 0 #2C3E50;
    border-radius: 30px;
    margin-bottom: 60px;
    transition: 0.25s;

    &:hover {
        transform: scale(1.02);
    }
}

.realisations-card__legende {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 15px;
    background-color: $whiteBlock;
    border-radius: 29px 0 0 29px;
    user-select: none;

    .realisations-card__techno {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        i {
            font-size: 25px;
            color: $blue;
        }
    }

    h3 {
        position: relative;
        color: $red;
        margin: 0;
        font-size: 32px;

    }

    h5 {
        color: $blue;
        margin: 0;
        font-size: 13px;

    }

    h6 {
        color: $blue;
        margin: 0;
        font-size: 12px;


        a {
            color: $blue;
            font-weight: 700;
        }
    }

    p {
        margin: 0;
    }
}

.membres {
    font-size: 13px;

    a {
        color: $blue;
    }
}


$list_projet: mingle, greenscore, speeddocker, ecobox, ecoportail, airquality;

@each $projet in $list_projet {
    .#{$projet} {
        background-image: url(../img/#{$projet}.jpg);
    }
}

.realisations-card__liens {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 29px 29px 0;
    gap: 50px;
    border-left: 2px $blue solid;


    i {
        font-size: 40px !important;
        color: $white;
        transition: 0.25s;

        &:hover {
            color: $red !important;
        }
    }
}

.tech-badge {
    display: inline-block;
    background: $blue;
    color: $white;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 0.75em;
    font-weight: 500;
}


/* -------------------- AUTRES REALISATIONS -------------------- */

// $list-autres: unity, webdoc, styleselector, sae303, formula-pedia, circuit-library;

// @each $autres in $list-autres {
//     .#{$autres} {
//         background-image: url(../img/#{$autres}.jpg);
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: center;
//     }
// }

// .autres-realisations {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin: 0 auto;
//     width: 80vw;

//     .autresList {
//         display: flex;
//         gap: 40px;
//         justify-content: center;
//         flex-wrap: wrap;

//         .autresCard {
//             display: flex;
//             flex-direction: column;
//             height: 175px;
//             width: 150px;
//             border: 2px $blue solid;
//             color: $blue;
//             background-color: $whiteBlock;
//             border-radius: 20px;

//             h6 {
//                 margin: 0;
//                 font-style: italic;
//                 font-weight: 500;

//                 a {
//                     color: $blue;
//                 }
//             }

//             .autresCard__img {
//                 height: 55%;
//                 border-radius: 18px 18px 0 0;
//                 border-bottom: 2px $blue solid;

//                 >div {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     gap: 30px;
//                     height: 100%;
//                     width: 100%;
//                     border-radius: 17px 17px 0 0;
//                     background-color: rgba(0, 0, 0, 0.712);

//                     i {
//                         font-size: 26px;
//                         color: $white;
//                         transition: 0.25s;

//                         &:hover {
//                             color: $red;
//                         }
//                     }
//                 }
//             }

//             .autresCard__legende {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 height: 45%;
//                 text-align: center;
//                 border-radius: 0 0 18px 18px;
//                 transition: 0.25s;
//                 user-select: none;
//             }

//         }
//     }

// }


/* -------------------- TRAVAUX -------------------- */

#travaux_mmi {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-top: 20vh;

    &>div,
    .travaux-mmi__modules {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .liens_travaux {
        display: inline-block;
        // cursor: pointer;
        // font-family: "Montserrat";
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $whiteBlock;
        color: $blue;
        border: $blue 2px solid;
        border-radius: 20px;
        padding: 8px 20px;
        margin: 4px 10px;
        text-decoration: none;
        text-align: center;
        transition: 0.25s;

    }

    p {
        text-align: center;
        font-weight: 700;
        margin: 30px 0 8px 0;
        line-height: 150%;
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 5px;
        color: $blue;
    }
}

/* -------------------- FOOTER -------------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $white;
    font-weight: 400;
    text-align: center;
    background-color: $red;
    border-radius: 20px;
    width: 85%;
    padding: 10px 0;
    margin: 20vh auto 15px auto;
}

.reseaux {
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: $white;
    padding: 5px 15px;
    border: $white 2px solid;
    border-radius: 20px;
    white-space: nowrap;
    width: min-content;
    transition: 0.25s;

    i {
        color: $white;
    }

    &:hover {
        background-color: $whiteBlock;
        border: $blue 2px solid;
        color: $blue;
    }

    &:hover i {
        color: $blue !important;
    }
}


#liens-contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    list-style: none;

    i {
        font-size: 20px;
        transition: 0.25s;
    }
}

#copyright {
    font-weight: 700;
    font-size: 15px;
}


/* -------------------- NTH CHILD -------------------- */

@media screen and (min-width:990px) {
    .realisations__card:nth-child(even) .realisations-card__liens {
        border-radius: 29px 0 0 29px;
        grid-row: 1;
        border-left: 0;
    }

    .realisations__card:nth-child(even) .realisations-card__legende {
        border-radius: 0 29px 29px 0;
        border-left: 2px $blue solid;
    }
}


/* -------------------- MOBILE -------------------- */

@media screen and (max-width:1300px) {
    .navbar__liens {
        width: 50%;
    }
}


@media screen and (max-width:990px) {

    p {
        font-size: 0.8em;
    }

    #navbar {
        height: 60px;
        width: 85%;
        border-radius: 20px;
        background-color: $red;
    }

    .navbar__liens {
        display: none !important;
    }

    .navbar__logo {
        color: $white;
    }

    label {
        display: flex;
        position: absolute;
        right: 35px;
        font-size: 26px;
        cursor: pointer;

        i {
            color: $white !important;
            position: absolute;
            bottom: -16px;
            right: -10px;
            font-size: 30px;
        }

        .fa-xmark {
            font-size: 38px;
            bottom: -20px;
            right: -11px;
        }
    }

    #toggle:checked {
        right: 100px !important;

        +.navbar__liens {
            display: flex !important;
            justify-content: center;
            background-color: #C0392B;
            gap: 100px;
            top: 65px;
            flex-direction: column;
            position: absolute;
            height: calc(100vh - 95px);
            width: 100%;
            right: 0;
            margin: 0;
            border-radius: 20px;

            li a {
                color: $white !important;
            }
        }

        +.hidden {
            display: none;
        }
    }

    body.no-scroll {
        overflow-y: hidden !important;
    }


    #presentation {
        padding-bottom: 30px;
        min-height: 100vh;
    }

    h2 {
        font-size: 35px;
    }

    #realisations h2 {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    #photo {
        grid-row: 1;
        height: 306px;
        width: 234px;
    }

    .contenu {
        padding-right: 0;
        width: 75%;
    }

    #apropos {
        display: grid;
        gap: 20px;
        justify-items: center;
        grid-template-columns: 1fr;
        margin-bottom: 15vh;
    }

    .apropos__contenu {
        width: 70%;
        padding-right: 0;
    }

    .apropos__photo {
        margin-top: 30px;
    }




    .competences__container {
        flex-direction: column;
        gap: 20px;
        width: 80%;
    }

    .competences__bloc {
        min-width: unset;
    }

    .realisations__card {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        min-height: 75vh;
    }

    .realisations-card__legende {
        padding-left: 0;
        text-align: center;
        padding: 15px;
        border-radius: 29px 29px 0 0;

        .realisations-card__techno {
            justify-content: center;
        }

        h3 {
            font-size: 32px;
        }

        h5 {
            font-size: 14px;
        }

        h6 {
            font-size: 10px;
        }

        p {
            font-size: 12px;
            line-height: 19px;
            width: 90%;
            margin: 0 auto;
        }

        &>.membres {
            text-align: center;
            font-size: 10px;
        }
    }

    .realisations-card__liens {
        border-radius: 0 0 29px 29px;
        border-left: 0;
        border-top: 2px $blue solid;
    }

    #travaux_mmi>div {
        flex-wrap: wrap;
    }

    #travaux_mmi a {
        width: max-content;
        margin-top: 10px;
    }

    footer {
        flex-direction: column;
        padding: 30px 0;
        gap: 10px;
    }

    #liens-contact {
        width: 65%;
        gap: 5px;
        padding: 0;
    }

    .reseaux {
        margin: 5px;
    }

    #copy-popup {
        padding: 10px;
    }
}

@media screen and (max-width:1010px) {

    #realisations {
        width: 100%;
    }

}