$noirFonce : #070e13;
$noir : rgb(10, 14, 23);

$rougeFonce2 : rgb(88, 0, 0);
$rougeFonce1 : rgb(136, 0, 0);
$rouge : #E12319;

$blanc: #fff;
$blancFonce: #ffffffc6;

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    background: $noir;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $blanc;
}

::-webkit-scrollbar-thumb {
    background: $rouge;
}

::-webkit-scrollbar-thumb:hover {
    background: $rougeFonce1;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* ----- HEADER ----- */

#backToTop {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: $blanc;
    line-height: 47px;
    width: 43px;
    height: 43px;
    border-radius: 40px;
    border: $rouge 3px solid;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;

    i {
        font-size: 20px;
        transition: .2s;
    }

    &:hover i {
        transform: translate(0, -4px);
    }
}

#copy-popup {
    color: $blanc;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    background-color: green;
    border: rgb(0, 58, 0) 3px solid;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    border-radius: 20px;
    padding: 30px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.show {
        display: block;
        opacity: 1;
    }
}

#navbar {
    top: 0;
    position: fixed;
    height: 50px;
    z-index: 10;
    display: flex;
    color: $blanc;
    background-color: transparent;
    width: 100%;
    align-items: center;
    transition: background 0.2s ease, height 0.2s ease, color 0.2s ease;

    &.scrolled {
        background: $blanc;
        border-bottom: $rouge 3px solid;
    }
}

.navbar__logo {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: $blanc;
    margin-left: 35px;
}

#navbar.scrolled {

    .navbar__logo,
    .navbar__liens li a,
    label i {
        color: $noir !important;
    }

    .navbar__liens li a::after {
        background-color: $noir;
    }
}

.navbar__liens {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    right: 35px;
    position: absolute;

    li {
        position: relative;
        text-transform: uppercase;
        color: $blanc;
        font-size: 14px;
        font-weight: bold;
        transition: color 0.25s ease;

        a {
            color: $blanc;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
                // text-underline-thickness: 2px;
            }
        }
    }
}

// @media screen and (min-width:990px) {
//     .navbar__liens li a::after {
//         content: "";
//         position: absolute;
//         width: 0;
//         height: 2px;
//         background-color: $blanc;
//         bottom: -5px;
//         left: 50%;
//         transform: translateX(-50%);
//         transition: width 0.3s ease;

//         &:hover::after {
//             width: 100%;
//         }
//     }
// }

label,
#toggle {
    display: none;
}

/* ----- PRESENTATION ----- */

#presentation,
#apropos,
#competences {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blanc;
    margin: 0 auto;
    width: 100vw;
}

@media screen and (min-width:990px) {

    #presentation,
    #apropos {
        height: 100vh;
    }
}

#presentation {
    flex-direction: column;

    .fa-arrow-down {
        animation: arrowAnimation 1s ease-in-out infinite;
    }
}

.presentation__nom-role {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;

    h1 {
        margin: 0;
        color: $blanc;
        font-size: 60px;
    }

    h6 {
        margin: 0;
        color: $blanc;
        font-family: 'Outfit';
        font-size: 16px;
        font-weight: 100;
    }
}

.presentation__reseaux {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

    .fa-link {
        font-size: 35px;
    }

    i {
        font-size: 40px;
        color: $blanc;
        transition: 0.25s;

        &:hover {
            color: $rouge;
        }
    }
}


.hidden i {
    color: $rouge;
}

// @keyframes arrowAnimation {
//     0%, 100% {
//         transform: translateY(0);
//     }
//     50% {
//         transform: translateY(15px);
//     }
// }

.apropos__photo {
    background-image: url(../img/qbuteau-presentation.webp);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px $rouge solid;
    border-radius: 40px;
    height: 340px;
    width: 260px;
    transition: 0.25s;

    &:hover {
        background-size: 220%;
        cursor: crosshair;
    }
}

/* ----- SECTION ----- */


hr {
    max-width: 80vw;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    color: $blanc;
    text-transform: uppercase;
    line-height: 140%;
    font-size: 40px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

h4 {
    font-size: 16px;
    margin: 0;
}

p {
    color: $blanc;
    font-size: 15px;
    font-family: 'Outfit';
    line-height: 150%;
    text-align: justify;
}

.apropos__contenu {
    width: 50%;
    padding-right: 70px;

    h2 {
        margin-top: 0;
    }
}

.cv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;

    li {
        cursor: pointer;
        text-align: center;
        width: max-content;
        border: 2px $rouge solid;
        border-radius: 20px;
        padding: 8px 30px;
        font-weight: bold;
        color: $blanc;
        background-color: $noir;
        font-family: 'Montserrat';
        transition: 0.25s;
        text-decoration: none;
        display: block;

        a {
            color: $blanc;
            text-decoration: none;
            transition: 0.25s;
        }

        &:hover {
            background-color: $rouge;
        }
    }
}

/* -------------------- COMPETENCES -------------------- */

#competences {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .competences__liste {
        margin: 0 auto;
        width: 85vw;

        p {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Montserrat';
            margin: 20px 0 0px 0;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8px;
            margin: 8px 0;
            padding: 0;

            li {
                color: $blanc;
                width: max-content;
                list-style: none;
                font-family: "Outfit";
                font-size: 15px;
                font-weight: 500;
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 0;
                border-radius: 20px;
                border: 2px $rouge solid;
                padding: 8px 18px;
                text-transform: uppercase;
                transition: 0.25s;
                user-select: none;

                i {
                    font-size: 20px;
                    transition: 0.25s;
                }

                &:hover {
                    background-color: $rouge;

                    i {
                        color: $blanc !important;
                    }
                }
            }
        }
    }
}

/* -------------------- PROJETS -------------------- */

#realisations {
    margin: 0 auto;
    padding-top: 20vh;
}

.realisations__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
    height: 50vh;
    max-height: 400px;
    width: 80%;
    max-width: 1500px;
    border: 3px $rouge solid;
    border-radius: 30px;
    margin-bottom: 60px;
    transition: 0.25s;

    &:hover {
        transform: scale(1.02);
    }
}

.realisations-card__legende {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 15px;
    background-color: $noirFonce;
    border-radius: 27px 0 0 27px;
    user-select: none;

    .realisations-card__techno {
        display: flex;
        gap: 15px;

        i {
            font-size: 25px;
            color: $blanc;
        }
    }

    h3 {
        position: relative;
        color: $blanc;
        margin: 0;
        font-size: 40px;
        font-family: 'Montserrat';
    }

    h5 {
        color: $blanc;
        margin: 0;
        font-size: 15px;
        font-family: 'Outfit';
    }

    h6 {
        color: $blanc;
        margin: 0;
        font-size: 12px;
        font-family: 'Montserrat';

        a {
            color: $blanc;
            font-weight: 700;
        }
    }

    p {
        margin: 0;
        font-size: 14px;
    }
}

.membres {
    font-size: 13px;

    a {
        color: $blanc;
    }
}


$list_projet: mingle, circuit-library, greenscore;

@each $projet in $list_projet {
    .#{$projet} {
        background-image: url(../img/#{$projet}.jpg);
    }
}

.realisations-card__liens {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 27px 27px 0;
    border-left: 3px $rouge solid;

    i {
        font-size: 40px !important;
        color: $blanc;
        transition: 0.25s;

        &:hover {
            color: $rouge !important;
        }
    }
}


/* -------------------- AUTRES REALISATIONS -------------------- */

$list-autres: unity, webdoc, styleselector, sae303, formula-pedia;

@each $autres in $list-autres {
    .#{$autres} {
        background-image: url(../img/#{$autres}.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.autres-realisations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80vw;

    .autresList {
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;

        .autresCard {
            display: flex;
            flex-direction: column;
            height: 175px;
            width: 150px;
            border: 2px $rouge solid;
            color: white;
            border-radius: 20px;

            h6 {
                margin: 0;
                font-style: italic;
                font-weight: 500;

                a {
                    color: $blanc;
                }
            }

            .autresCard__img {
                height: 55%;
                border-radius: 18px 18px 0 0;
                border-bottom: 2px $rouge solid;

                >div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    height: 100%;
                    width: 100%;
                    border-radius: 17px 17px 0 0;
                    background-color: rgba(0, 0, 0, 0.712);

                    i {
                        font-size: 26px;
                        color: $blanc;
                        transition: 0.25s;

                        &:hover {
                            color: $rouge;
                        }
                    }
                }
            }

            .autresCard__legende {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 45%;
                text-align: center;
                border-radius: 0 0 18px 18px;
                transition: 0.25s;
                user-select: none;
            }

            &:hover .autresCard__legende {
                background-color: $rouge;
            }
        }
    }

}


/* -------------------- TRAVAUX -------------------- */

#travaux_mmi {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-top: 20vh;

    &>div,
    .travaux-mmi__modules {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .liens_travaux {
        display: inline-block;
        // cursor: pointer;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $noir;
        color: $blanc;
        border: $rouge 2px solid;
        border-radius: 20px;
        padding: 8px 20px;
        margin: 4px 10px;
        text-decoration: none;
        text-align: center;
        transition: 0.25s;

        &:hover {
            background-color: $rouge;
        }
    }

    p {
        text-align: center;
        font-weight: 700;
        font-family: "Montserrat";
        margin: 30px 0 8px 0;
        line-height: 150%;
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 5px;
        color: $blanc;
    }
}

/* -------------------- FOOTER -------------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20vh;
    color: $noir;
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: center;
    background-color: $blanc;
    border-top: 3px $rouge solid;
    padding: 10px 0;
}

.reseaux {
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: $noir;
    padding: 5px 15px;
    border: $rouge 3px solid;
    border-radius: 60px;
    white-space: nowrap;
    width: min-content;
    transition: 0.25s;

    i {
        color: $noir;
    }

    &:hover {
        background-color: $rouge;
        color: $blanc;
    }

    &:hover i {
        color: $blanc !important;
    }
}

#discord {
    background-color: $blanc;
    font-family: 'Montserrat';

    &:hover {
        background-color: $rouge;
    }
}

#liens-contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    list-style: none;

    i {
        font-size: 20px;
        transition: 0.25s;
    }
}

#copyright {
    font-weight: 700;
    font-size: 15px;
}


/* -------------------- NTH CHILD -------------------- */

@media screen and (min-width:990px) {
    .realisations__card:nth-child(odd) .realisations-card__liens {
        border-radius: 27px 0 0 27px;
        grid-row: 1;
        border-left: 0;
    }

    .realisations__card:nth-child(odd) .realisations-card__legende {
        border-radius: 0 27px 27px 0;
        border-left: 3px $rouge solid;
    }
}

.competences__liste:nth-child(3) {
    margin-bottom: 20px !important;
}


/* -------------------- MOBILE -------------------- */

@media screen and (max-width:1300px) {
    .navbar__liens {
        width: 50%;
    }
}


@media screen and (max-width:990px) {

    #navbar {
        height: 60px;
        width: 100vw;
        background-color: $blanc;
        border-bottom: 3px $rouge solid;
    }

    .navbar__liens {
        display: none !important;
    }

    .navbar__logo {
        color: $noir;
    }

    label {
        display: flex;
        position: absolute;
        right: 35px;
        font-size: 26px;
        cursor: pointer;

        i {
            color: $noir !important;
            position: absolute;
            bottom: -16px;
            right: -10px;
            font-size: 30px;
        }

        .fa-xmark {
            font-size: 38px;
            bottom: -20px;
            right: -11px;
        }
    }

    #toggle:checked {
        right: 100px !important;

        +.navbar__liens {
            display: flex !important;
            justify-content: center;
            background-color: $blanc;
            gap: 100px;
            top: 62.5px;
            flex-direction: column;
            position: absolute;
            height: calc(100vh - 62.5px);
            width: 100%;
            right: 0;
            border-bottom: 3px $rouge solid;
            margin: 0;

            li a {
                color: $noir !important;
            }
        }

        +.hidden {
            display: none;
        }
    }

    body.no-scroll {
        overflow-y: hidden !important;
    }


    #presentation {
        padding-bottom: 30px;
        min-height: 100vh;
    }

    h2 {
        font-size: 35px;
    }

    #competences {
        min-height: auto;
    }

    #realisations h2 {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    #photo {
        grid-row: 1;
        height: 306px;
        width: 234px;
    }

    .contenu {
        padding-right: 0;
        width: 75%;
    }

    #apropos {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 15vh;
    }

    .apropos__contenu {
        width: 70%;
        padding-right: 0;
    }

    #apropos p {
        font-size: 15px;
    }

    .realisations__card {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        min-height: 75vh;
    }

    .realisations-card__legende {
        padding-left: 0;
        text-align: center;
        padding: 15px;
        border-radius: 27px 27px 0 0;

        .realisations-card__techno {
            justify-content: center;
        }

        h3 {
            font-size: 35px;
        }

        h5 {
            font-size: 16px;
        }

        h6 {
            font-size: 11px;
        }

        p {
            font-size: 15px;
            line-height: 22px;
            width: 90%;
            margin: 0 auto;
        }

        &>.membres {
            text-align: center;
            font-size: 10px;
        }
    }

    .realisations-card__liens {
        border-radius: 0 0 27px 27px;
        border-left: 0;
        border-top: 3px $rouge solid;

        a {
            margin: 0 50px !important;
        }
    }

    #travaux_mmi>div {
        flex-wrap: wrap;
    }

    #travaux_mmi a {
        width: max-content;
        margin-top: 10px;
    }

    footer {
        flex-direction: column;
        padding: 30px 0;
        gap: 10px;
    }

    #liens-contact {
        width: 65%;
        gap: 5px;
        padding: 0;
    }

    .reseaux {
        margin: 5px;
    }

    #copy-popup {
        padding: 10px;
    }
}

@media screen and (max-width:1010px) {

    #realisations {
        width: 100%;
    }

}